<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header">

    <nav>

        <ul class="navInnerContainer">
            <div class="headerBack"></div>

            <li>
                <h1>로고 자리</h1>
            </li>

            <li class="mainMenu">
                메인 메뉴 1
                <ul class="subMenu">
                    <li>서브 메뉴 1 - 1</li>
                    <li>서브 메뉴 1 - 2</li>
                    <li>서브 메뉴 1 - 3</li>
                    <li>서브 메뉴 1 - 4</li>
                    <li>서브 메뉴 1 - 5</li>
                </ul>
            </li>
            <li class="mainMenu">
                메인 메뉴 2
                <ul class="subMenu">
                    <li>서브 메뉴 2 - 1</li>
                    <li>서브 메뉴 2 - 2</li>
                    <li>서브 메뉴 2 - 3</li>
                    <li>서브 메뉴 2 - 4</li>
                </ul>
            </li>
            <li class="mainMenu">
                메인 메뉴 3
                <ul class="subMenu">
                    <li>서브 메뉴 3 - 1</li>
                    <li>서브 메뉴 3 - 2</li>
                    <li>서브 메뉴 3 - 3</li>
                    <li>서브 메뉴 3 - 4</li>
                    <li>서브 메뉴 3 - 5</li>
                    <li>서브 메뉴 3 - 6</li>
                    <li>서브 메뉴 3 - 7</li>
                    <li>서브 메뉴 3 - 8</li>
                </ul>
            </li>
            <li class="mainMenu">
                메인 메뉴 4
                <ul class="subMenu">
                    <li>서브 메뉴 4 - 1</li>
                    <li>서브 메뉴 4 - 2</li>
                    <li>서브 메뉴 4 - 3</li>
                    <li>서브 메뉴 4 - 4</li>
                    <li>서브 메뉴 4 - 5</li>
                    <li>서브 메뉴 4 - 6</li>
                    <li>서브 메뉴 4 - 7</li>
                </ul>
            </li>
            <li class="mainMenu">
                메인 메뉴 5
                <ul class="subMenu">
                    <li>서브 메뉴 5 - 1</li>
                    <li>서브 메뉴 5 - 2</li>
                    <li>서브 메뉴 5 - 3</li>
                    <li>서브 메뉴 5 - 4</li>
                </ul>
            </li>
            <li class="mainMenu">
                메인 메뉴 6
                <ul class="subMenu">
                    <li>서브 메뉴 6 - 1</li>
                    <li>서브 메뉴 6 - 2</li>
                    <li>서브 메뉴 6 - 3</li>
                    <li>서브 메뉴 6 - 4</li>
                    <li>서브 메뉴 6 - 5</li>
                    <li>서브 메뉴 6 - 6</li>
                    <li>서브 메뉴 6 - 7</li>
                </ul>
            </li>
        </ul>

    </nav>

</header>

</body>
</html>