/* 초기화 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* 헤더 스타일 */
header * {
    color: aliceblue;
}

header {
    position: relative;
}

header a {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

header nav {
    position: relative;
    width: 100%;
    display: flex;

    z-index: 1;
}

.top-nav {
    width: 100%;
    justify-content: center;
    background-color: #cccccc;
    color: black;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.buttonContainer li {
    width: 100px;
}

.bottom-nav {
    background-color: black;
    opacity: 0.8;
    justify-content: center;
}

.bottom-nav * {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    flex-basis: 10%;
}

header .navInnerContainer {
    flex-basis: 60%;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header li {
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

header .mainMenu {
    height: 80px;
}

header .mainMenu:hover > a {
    color: yellow;
}

header .mainMenu:hover .subMenu {
    display: block;
}

/* 모든 서브메뉴를 함께 열기 */
header .navInnerContainer:hover .subMenu,
header .navInnerContainer:hover .headerBack{
    display: block;
}

header .headerBack {
    transition: 1s;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: gray;
    width: 100%;
    height: 300px;

    z-index: -1;
}

header .subMenu {
    display: none;
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100%;
    left: 0;
}

header .mainMenu:hover .subMenu {
    background-color: black;
    opacity: 0.8;
}

header .subMenu li:hover a {
    color: yellow;
}

/* 가로 메뉴 스타일링 */
header .bottom-nav > ul {
    display: flex;
}

header .bottom-nav li {
    flex: 1;
    text-align: center;
}

/* 세로 메뉴 스타일링 */
header .subMenu > li {
    text-align: left;
    padding: 5px 15px;
}