* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginContainer {
    width: 500px;
    border: 1px solid black;
    margin: 16px;
}