* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginContainer {
    width: 500px;
    /*border: 1px solid black;*/
}

main {
    margin: 50px 0;
}

.basicLogin {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.basicLogin .input01,
.basicLogin .button01{
    width: 100%;
}

.loginMenu {
    margin: 30px 0;
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-button {
    gap: 10px;
    display: flex;

    height: 40px;
    padding: 0 0 0 8px;
    border: 1px solid #d2d6e0;
    border-radius: 2px;
    font-size: 14px;

    background-color: white;
    color: #51555d;
    transition: .5s;
    text-align: left;

    cursor: pointer;
}

.social-button:hover {
    background-color: #d2d6e0;
}

.social-button span {
    display: flex;
    align-items: center;
}

footer {
    margin-top: 200px;
}

